
body{
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: darken;
  background-image: url("../pictures/Autumn.jpg");
  overflow: hidden;
}
#subtitle{
  margin:0;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

#weatherinfo{
  margin:3%;
  color: white;
  font-size: 26px;
}


#usertext{
  margin:3%;
  color: white;
  font-size: 26px;
}


#title{
  font-weight: bolder;
  font-size: 64px;
  margin:0;
  color: white;
  letter-spacing:8px;
}
#container{
  text-align: center;
}


#maindiv{
  border: solid #fff 5px;
  text-align: center;
  height:20vh;
}

#login{
  text-align: center;
  height:5vh;
  width: 60vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
}

#loginbutton{
  font-weight: bold;
  border: solid #fff 3px;
}

#spotifyplayer{
  background-color: rgba(0,0,0,0.7);
  background-blend-mode: darken;
  height: calc(100vh - 35vh);
}
